<div class="nav">
  <h1 class="nav-title">SenpaiTrack</h1>
  <a href="/" class="nav-home">Home</a>
  <a href="/favorites" class="nav-favorite">Favorites</a>
  <div class="nav-searchbar">
    <input type="text" placeholder="Search" class="search" /><i
      class="fa-solid fa-magnifying-glass"
    ></i>
  </div>
</div>
